#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 > #backgroundBox {
  background-color: #000000;
  position: absolute;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_1 {
  position: absolute;
  width: 73.0px;
  height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_12 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_5 {
  position: absolute;
  width: 351.296875px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_13 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_14 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_15 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_16 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'AGRESSIVE',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'AGRESSIVE',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'AGRESSIVE',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 {
  position: absolute;
  width: 156.0px;
  min-height: 215.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_34 {
  position: absolute;
  width: 112.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_36 {
  position: absolute;
  width: 110.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_36 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_2 {
  position: absolute;
  width: 156.0px;
  height: 150.96774193548384px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_2 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 {
  position: absolute;
  width: 156.0px;
  min-height: 215.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_37 {
  position: absolute;
  width: 125.00000000000023px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_37 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_39 {
  position: absolute;
  width: 100.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_39 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_39 span#rtr-s-Paragraph_39_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_10 {
  position: absolute;
  width: 156.0px;
  height: 150.96774193548384px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_10 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_10 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_10 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 {
  position: absolute;
  width: 156.0px;
  min-height: 215.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_40 {
  position: absolute;
  width: 123.0px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_40 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_40 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_40 span#rtr-s-Paragraph_40_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_41 {
  position: absolute;
  width: 100.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_41 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_41 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_41 span#rtr-s-Paragraph_41_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_11 img, #s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_11 svg {
  transform: rotateY(180deg) ;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_11 {
  position: absolute;
  width: 156.0px;
  height: 150.96774193548384px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_11 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_11 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_11 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 {
  position: absolute;
  width: 156.0px;
  min-height: 215.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_42 {
  position: absolute;
  width: 128.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_42 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_42 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_42 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_42 span#rtr-s-Paragraph_42_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_43 {
  position: absolute;
  width: 100.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_43 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_43 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_43 span#rtr-s-Paragraph_43_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_4 {
  position: absolute;
  width: 156.0px;
  height: 150.96774193548384px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_4 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 {
  position: absolute;
  width: 156.0px;
  min-height: 215.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_44 {
  position: absolute;
  width: 133.33593750000003px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_44 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_44 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_44 span#rtr-s-Paragraph_44_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_45 {
  position: absolute;
  width: 100.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_45 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_3 {
  position: absolute;
  width: 156.0px;
  height: 150.96774193548384px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_3 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 {
  position: absolute;
  width: 156.0px;
  min-height: 215.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_46 {
  position: absolute;
  width: 133.0px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_46 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_46 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_46 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_46 span#rtr-s-Paragraph_46_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_6 {
  position: absolute;
  width: 156.0px;
  height: 150.96774193548384px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_6 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Path_27 {
  position: absolute;
  width: 8.0px;
  height: 4.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_48 {
  position: absolute;
  width: 91.66407775878906px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_48 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_48 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_48 span#rtr-s-Paragraph_48_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_49 {
  position: absolute;
  width: 95.4582138061524px;
  min-height: 15.000000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_49 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_50 {
  position: absolute;
  width: 246.00000000000068px;
  min-height: 87.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_50 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_50 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 16.5pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_50 span#rtr-s-Paragraph_50_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 16.5pt;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 377.75258711064185px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 3px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_8 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 71.66847502494392px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_17 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_7 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_9 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 73.16156825463037px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_18 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_8 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_10 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 71.66847502494397px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_9 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 33.04406429798746px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_19 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_11 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 71.66847502494394px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_20 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_10 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 33.04406429798752px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_12 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 71.66847502494407px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Image_21 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_11 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 33.044064297987305px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 #s-Hotspot_2 {
  position: absolute;
  width: 73.0993788819876px;
  height: 72.66165546730733px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1a79dc14-9c3d-428c-ae00-a78aa86ac5f3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}