#s-96904e05-2d25-4677-bbc5-02c13ad96fff > #backgroundBox {
  background-color: #000000;
  position: absolute;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_1 {
  position: absolute;
  width: 73.0px;
  height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_6 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_16 {
  position: absolute;
  width: 351.296875px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_7 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_8 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_9 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_10 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_19 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'AGRESSIVE',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'AGRESSIVE',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'AGRESSIVE',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'AGRESSIVE',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'AGRESSIVE',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'AGRESSIVE',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 900;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 900;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Path_1 {
  position: absolute;
  width: 315.0px;
  height: 459.81182861328125px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Mask_1 {
  position: absolute;
  width: 317.0px;
  height: 461.81182861328125px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_1 {
  position: absolute;
  width: 272.9999999999998px;
  min-height: 34.456185567010266px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_2 {
  position: absolute;
  width: 263.0px;
  min-height: 21.386597938144178px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.25px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.25px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_3 {
  position: absolute;
  width: 273.0px;
  min-height: 126.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.4px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.4px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 377.75258711064185px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 3px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_8 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 71.66847502494392px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_11 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_9 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_9 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 73.16156825463037px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_12 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_10 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_10 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 71.66847502494397px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_11 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 33.04406429798746px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_13 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_11 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 71.66847502494394px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_14 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_12 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 33.04406429798752px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_12 {
  position: absolute;
  width: 258.00000000000006px;
  min-height: 71.66847502494407px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Image_15 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_13 {
  position: absolute;
  width: 117.59732387376903px;
  min-height: 33.044064297987305px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff #s-Hotspot_2 {
  position: absolute;
  width: 73.0993788819876px;
  height: 72.66165546730733px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-96904e05-2d25-4677-bbc5-02c13ad96fff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}